body {
    background-color: darkcyan;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    margin: 0 auto;
    font-family: "Roboto", sans-serif;
    color: azure;
    text-shadow: 1px 1px 2px rgb(38, 56, 53);
    padding: 25px 0.5em;
}

header {
    display: flex;
    justify-content: space-between;
}

main {
    padding: 1em;
    width: 100%;
}

h1 {
    text-align: center;
}

h2 {
    font-size: 1.15rem;
}

#spock-toggle {
    width: 30px;
    height: 30px;
    margin-top: 2em;
    margin-right: 1em;
    display: flex;
}

.hidden {
    display: none;
}

/* selection & result section */
.game-container {
    margin: 2em;
    display: flex;
    justify-content: space-between;
    height: 200px;
}

.selection-box {
    width: 33%;
    text-align: center;
    background-color: rgb(145, 181, 178);
    padding: 0 .25em 1em .25em;
    border-radius: 8px;
}

#your-selection, #house-selection {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}

#your-selection > img,
.house-selection-img {
    width: 60px;
    margin-top: .25em;
}

.result-box {
    text-align: center;
}

#result {
    font-size: larger;
}

/* game buttons */
.game-buttons {
    height: 50%;
    max-height: 300px;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    /* justify-content: space-around; */
    padding: 2em;
    margin: 2em;
}

.action-btn {
    border: 3px solid pink;
    border-radius: 50%;
    height: 6em;
    width: 6em;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1em auto;
}

#paper {
    grid-column: 3;
}

#scissors {
    grid-column: 2;
}

#lizard {
    grid-column: 1;
}

#spock {
    grid-column: 3;
}

@media (min-width: 550px) {
    body {
        max-width: 600px;
        /* padding-top: 2.5em; */
    }

    h1 {
        font-size: 3rem;
        margin-bottom: 1em;
    }

    .buttons {
        margin-top: 5em;
        display: flex;
    }
}